<div *ngIf="successMessage" class="alert alert-success text-center mt-3">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger text-center mt-3">
  {{ errorMessage }}
</div>

<div class="container py-5">
  <div *ngIf="loading" class="text-center my-5">
    <div class="spinner-border text-primary" role="status"></div>
    <div class="mt-2">Cargando encuesta...</div>
  </div>
  <div *ngIf="error && !loading" class="alert alert-danger text-center">
    {{ error }}
  </div>
  <div *ngIf="json && !loading">
    <survey-container [json]="json" (submitSurvey)="sendData($event)"></survey-container>

  </div>
</div>
